# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next/
out/
build/
dist/

# Misc
.DS_Store
*.pem

# Debug Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local Env Files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Prisma
/prisma/*.db
/prisma/*.db-journal

# Custom Debug Logs
debug_*.txt
*.log.txt
full_log.txt
full_error.txt
diagnose.log
list_models.txt
debug_output.txt

